body {
    font-family: arial, sans-serif
}

.error {
    background-color: #FF7E7E;
}

.errorMsg {
    background-color: #FF7E7E;
}

.tmpLink {
    margin: 10px;
}

.resultCell {
    display: inline-block;
    width: 49%;
    padding: 0.25%;
    overflow: auto;
    white-space: pre-wrap;
}

.resultRow:nth-child(even) {background-color: #dddddd}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: interspersenone;
}

/* Code adapted from https://jsfiddle.net/gionaf/Ugc5g/ */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220,220,220,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#overlayContent{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* Code adapted from https://jsfiddle.net/gionaf/Ugc5g/ */
#icon {
/*    position: absolute;
    top: 50%;
    left: 50%;*/
    width: 120px;
    height: 120px;
/*    margin:-60px 0 0 -60px;*/
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.treebank {
    width: 49%;
    display: inline-block;
}

.pattern, #modebar {
    padding-top: 0.15%;
    padding-bottom: 0.15%;
}
